{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>GUESTBOOK, JIEUN</title>
    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <audio autoplay controls style="width: 230px ;"> <source src="{% static 'audio/keshi - right here (Lyric Video).mp3' %}" type="audio/mp3"> </audio>
        <div>
           <h2 class="scale-in-center">I'm JIEUN PARK</h2>
            <div>
              <img src="static\photo\profilephoto.jpg" style="margin-right:50px" class="img-circle" alt="" width="200px">
              <p style="display: inline; ">박지은(98.09.01) 23세 ESTJ
              </p>
            </div>
            <br><br>
            
            
            <div>
              <p style="display: inline-block; width: 200px;" >
                <strong>CONTACT</strong> <br><br>
                💜 BLOG <a href="https://blog.naver.com/jieun1172">blog/jieun1172</a> <br>
                💜 YOUTUBE <a href="https://www.youtube.com/channel/UCjy2pMYGL9yl5M81qYLnKYg">youtube지훈</a><br>
                💜 FACEBOOK <a href="https://www.facebook.com/profile.php?id=100004727674732">facebook/jieun</a><br>
                💜 Kakao talk
                <img src="static\photo\kakaoTalk.jpg" alt="" width="80px"><br>
    
              </p>
              <img src="static\photo\sea.jpg" class="img-circle" style="display: inline;margin-left:50px" alt="" width="200px">
            </div>
        </div>
        <br><br>
        <div class="background">
          <p class="simplefont">방명록을 작성해주세요😏</p>
            <form action="{% url 'index' %}" method="post" class="simplefont">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="swingHorizontal" type="submit" value="write">
            </form>
        </div>
        
        {% for post in posts.all %}
        <div class="postit">
          <mark>{{ post.writer }}</mark>
            {{ post.content }}
            <small>{{ post.pub_date }}</small>
            
            <a href="{% url 'delete' post.id %}">삭제</a>
            <a href="{% url 'comment' post.id %}">댓글</a>
            {% for comment in post.comment_set.all %}
                <div style="width: 140px;">
                  👍🏽
                  {{comment.content}}
                  <small>{{comment.pub_date}}</small>
                  <a href="{% url 'c_delete' comment.id %}">삭제</a>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>