{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>GUESTBOOK, JIEUN</title>

    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--구글로그인-->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="373357090561-snnhdn8di78ovof112bm499fucmedm7p.apps.googleusercontent.com">
      <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
      </script>
  </head>
  <body>
    <audio autoplay controls style="width: 230px ;"> <source src="{% static 'audio/keshi - right here (Lyric Video).mp3' %}" type="audio/mp3"> </audio>
    <div>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
       <h2>GUESTBOOK</h2>
        <div>
          <img src="static\photo\profilephoto.jpg" style="margin-right:50px" class="img-circle" alt="" width="200px">
          <p style="display: inline; ">박지은(98.09.01) 23세 INFP
          </p>
        </div>
        <br><br>
        <div>
          <p style="display: inline-block; width: 200px;" >부산 출생<br><br>
            §CONTACTs§ <br><br>
            BLOG <a href="https://blog.naver.com/jieun1172">blog/jieun1172</a> <br>
            YOUTUBE <a href="https://www.youtube.com/channel/UCjy2pMYGL9yl5M81qYLnKYg">youtube지훈</a>
            FACEBOOK <a href="https://www.facebook.com/profile.php?id=100004727674732">facebook/jieun</a><br>
            Kakao talk
            <img src="static\photo\kakaoTalk.jpg" alt="" width="80px"><br>

          </p>
          <img src="static\photo\sea.jpg" class="img-circle" style="display: inline;margin-left:50px" alt="" width="200px">
        </div>
    </div>
    <br><br>
    <div class="background">
      <p class="simplefont">방명록을 작성해주세요.</p>
        <form action="{% url 'index' %}" method="post" class="simplefont">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-warning" type="submit" value="write">
        </form>
    </div>
    
    {% for post in posts.all %}
    <div class="postit">
      <mark>{{ post.writer }}</mark>
        {{ post.content }}
        <small>{{ post.pub_date }}</small>
        
        <a href="{% url 'delete' post.id %}">삭제</a>
        <a href="{% url 'comment' post.id %}">댓글</a>
        {% for comment in post.comment_set.all %}
            <div style="width: 140px;">
              👍🏽
              {{comment.content}}
              <small>{{comment.pub_date}}</small>
              <a href="{% url 'c_delete' comment.id %}">삭제</a>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>