@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NEXON Lv1 Gothic OTF'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    font-family: 'MapoFlowerIsland';
    background-color: rgb(135,101, 151);
}    
div{
    width: 500px;
    margin: 0 auto;

}
a{
    font-family: 'NEXON Lv1 Gothic OTF'; 
    font-size: x-small;
}
div>h2{
    font-weight: bold;
    text-align: center;
    color: rosybrown;
    text-transform: capitalize;
}

.background{
    margin-top: 30px;
    padding: 30px;
    text-align: center;

    background-color: rgba(238, 238, 238, 0.274);
}
.postit{
    display: inline-block;
    width: 180px;
    height: 240px;
    padding: 65px 13px;
    margin: 60px;
    

    background-image: url("postit.png");
}
.simplefont{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: small;
}